---
title: Matthew D. Williams Designer / Rockport Shoes
---



<div class="lyrics-container">
	<div class="lyrics"> 
	   <div class="chord">C &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    F</div>
	   Please tell my brothers I love them still<br>
	   Over the mountains on their phone bill<br>
	   I should call more often, but they know I never will<br>
	   Please tell my brothers I love them still<br><br>

	   Please tell my sister I miss her, too<br>
	   My nieces and nephews and their swimming pools<br>
	   When I think about her, her skies are blue<br>
	   Please tell my sister I miss her, too<br>

	   Please tell my father I love him still<br>
	   Head for the cooler and drink your fill<br>
	   Forget the railroad and all those bills<br>
	   Head for the cooler and drink your fill<br><br>

	   Listen dear mother, I miss you the most<br>
	   And as I travel from coast to coast<br>
	   I feel your love and I feel your ghost<br>
	   Listen dear mother, I miss you the most<br>

	   Listen dear mother, I miss you the most...<br>
	 </div>     
</div>


