@import 'main';

.hero_image {
  position: relative;
  top: 0;
  height: 470px;
  background-color: $green;
  background-image: url("images/hero8.jpg");
  background-repeat: none;
  width: 100%;  
  background-size: cover;
}

@media (min-width: 1350px) {
  .hero_image {
    background-image: url("images/hero9.jpg");

  }
}


.hero {

  h1 {
      font-family: 'gt_walsheim_medium', helvetica;
      font-weight: 500;
      font-style: normal;
      font-size: 36px;
      text-align: center;
      margin: 0px 0 70px 0;
      padding-top: 140px;
      color: #fff;
      line-height: 40px;
    }
}

.work {
    margin-top: 85px;
  }

.work_section { 
  text-align: center;
  .card {
    border: 9px solid #fff;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    width: 26%;
    position: relative;
    height: 200px;

      .overlay{
        background-color: rgba(0, 180, 144, .9);
        height: 100%;
        @include transition;

       &:hover{
        background-color: rgba(90, 80, 144, .8) ;
    }
  }

  .project_page {
    margin-top: 2350px;
  }

    p {
      position: absolute;
      top: 42%;
      font-family: 'gt_walsheim_medium', helvetica;
      color: #fff;
      font-size: 22px;
      margin: 0 auto;
      width: 100%;
    }


    img {
      width: 100%;
      top: 0;
      bottom: 0;
    }

  }
}



@media (max-width: 850px) {

.hero {
    h1 {
      font-size: 35px;
      line-height: 34px;
    }
  }
  
  .work_section { 
    .card {
    width: 40%;
    }
  }
}

@media (max-width: 500px) {

.hero {
    h1 {
      font-size: 32px;
      line-height: 28px;
    }
  }
  
  .work_section { 
    .card {
    width: 80%;
    }
  }
}

  .urbancompass {
    background: url(images/urbancompass.jpg) no-repeat;
    background-size:cover;
  }

  .drewandlacey {
    background: url(images/drewandlacey.jpg) no-repeat;
    background-size:cover;
  }

  .ecofashion {
    background: url(images/eco.jpg) no-repeat;
    background-size:cover;
  }

  .sovisit {
    background: url(images/sovisit.jpg) no-repeat;
    background-size:cover;
  }

  .getoutskiing {
    background: url(images/getoutskiing.jpg) no-repeat;
    background-size:cover;
  }

  .newgoods {
    background: url(images/newgoods.jpg) no-repeat;
    background-size:cover;
  }

  .afterbedtime {
    background: url(images/afterbedtime.jpg) no-repeat;
    background-size:cover;
  }

  .baerae {
    background: url(images/baerae.jpg) no-repeat;
    background-size:cover;
  }  

  .westelm {
    background: url(images/westelm.jpg) no-repeat;
    background-size:cover;
  } 

  .rockport {
    background: url(images/rockport.jpg) no-repeat;
    background-size:cover;
  }

  .letterpress {
    background: url(images/letterpress.jpg) no-repeat;
    background-size:cover;
  }  

  .adornia {
    background: url(images/adornia.jpg) no-repeat;
    background-size: cover;
  }   

/*The About Page*/

.about_bg {
  margin-top: 70px;
  background-image: url("images/about9.jpg");
  background-repeat: none;
  background-size: cover;


  .photo_overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 180, 144, 0.5); 
    margin-top: -70px;

    .profile {
      width: 190px;
      height: 190px;
      margin: 0 auto;
      text-align: center;
      background: url(images/about_profile.png) no-repeat;
      top: 140px;
      position: relative;

    }
    
    h1 {
      font-family: 'gt_walsheim_medium';
      color: #fff;
      text-align: center;
      max-width: 55%;
      margin: 115px auto;
      padding: 4%;
      font-size: 27px;
      line-height: 42px;

      a {
        color: #fff;
        border-bottom: 3px solid #fff;
        padding-bottom: 2px;
        @include transition;

      }

      & a:hover{
        color: $purple;
        }
    }
  }
}

#instagram_section {
  h2 {
    padding-top: 25px;
    font-family: 'gt_walsheim_medium';
    color: $purple;
    font-size: 25px;
    text-align: center;
  }
}

#instafeed {
  height: 100%;
  background-color: #e5e5e5;
  width: 100%;
  text-align: center;


  img {
    margin: 15px;
    width: 300px;
    border: 9px solid #fff;
    border-radius: 10px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {

  .about_bg {
    margin-top: 70px;
    background-image: url("images/about9.jpg");
    background-repeat: none;
    background-size: cover;


    .photo_overlay{
      .profile {
      }
      
      h1 {
        font-family: 'gt_walsheim_medium';
        color: #fff;
        text-align: center;
        max-width: 95%;
        margin: 145px auto;
        padding: 4%;
        font-size: 21px;
        line-height: 28px;
      }
    }
  }

  #instafeed {
  height: 100%;
  background-color: #e5e5e5;
  width: 100%;
  text-align: center;


  img {
    margin: 15px;
    width: 230px;
    border: 9px solid #fff;
    border-radius: 10px;
    max-width: 100%;
  }
}  
}


/*The Individual Work Page*/
.header_overlay {
  background-color: rgba(0, 180, 144, .7);
  z-index: 100;
  height: 380px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  width: 85.5%;
  margin: 55px auto;
}

.work_header{
  height: 380px;
  margin-top: 0px;

  .header_type{
    font-family: 'gt_walsheim_bold';
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding-top: 205px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

   @media (max-width: 420px) {
    .work_header{
      .header_type {
        padding-top: 180px;
      }
    }
  }


.uc_header {
  background-image: url("images/urbancompass/uc_header.jpg");
}

.westelm_header {
  background-image: url("images/westelm/westelm_header.jpg");
}

.letterpress_header {
  background-image: url("images/letterpress/letterpress_header.jpg");
}

.adornia_header {
  background-image: url("images/adornia/adornia_header.jpg");
}

.rockport_header {
  background-image: url("images/rockport/rockport_header.jpg");
}

.ecofashion_header {
  background-image: url("images/ecofashion/ecofashion_header.jpg");
}

.newgoods_header {
  background-image: url("images/newgoods/newgoods_header.jpg");
}

.sovisit_header {
  background-image: url("images/sovisit/sovisit_header.jpg");
}

.afterbedtime_header {
  background-image: url("images/afterbedtime/afterbedtime_header.jpg");
}

.baerae_header {
  background-image: url("images/baerae/baerae_header.jpg");
}

.drewandlacey_header {
  background-image: url("images/drewandlacey/drewandlacey_header.jpg");
}



.work_copy {
  width: 60%;
  text-align: left;
  margin-bottom: 60px;
  float: left;



  h1 {
    margin-top: 5px;
    font-family: 'gt_walsheim_medium';
    font-size: 20px;
    color: #515151;
  }

  p {
    font-family:'Adelle W01 Light';    
    font-size: 16px;
    line-height: 31px;
    color: #575757;

    span {
      font-family: 'gt_walsheim_bold';
      color: $purple;
      text-transform: uppercase;
      @include transition;
      
      a {
        color: $purple;
        @include transition;

          span{
            position: relative;
            right: 4px;
            @include transition;
            padding-left: 10px;


          }
      }

      &:hover a {
        color: $green;
      }

      &:hover a span {
        right: -3px;
      }
    }
  }

  p.no_headline{
    margin: 0 auto;
    float: none;
  }
}

.work_copy_centered {
  width: 65%;
  text-align: left;
  margin: 40px auto 130px auto;


  h1 {
    margin-top: 5px;
    font-family: 'gt_walsheim_medium';
    font-size: 20px;
    color: #515151;
  }

  p {
    font-family:'Adelle W01 Light';    
    font-size: 16px;
    line-height: 31px;
    color: #575757;
  }

  p.no_headline{
    margin: 0 auto;
    float: none;
  }
}

   @media (max-width: 600px) {

    .work_copy_centered {
    width: 95%;
    margin: 30px auto 60px auto;
  }
}


.image_row_full {
  
  img {
    width: 100%;
    height: auto;
    border: 0px;
    border-radius: 0px;
  }
}

.image_row_1 {
  margin: 0px auto;

  img {
    margin: 20px auto;
    width: 100%;
    box-shadow: 0px 0px 16px 4px #bcbcbc;
  }

  .no_shadow {
    box-shadow: 0px 0px 0px 0px #bcbcbc;
  }

}

.image_row_2 {
  margin: 20px auto;

  img {
    margin: 20px auto;
    width: 48.66%;
    box-shadow: 0px 0px 16px 4px #bcbcbc;
  }

  .no_shadow {
    box-shadow: 0px 0px 0px 0px #bcbcbc;
  }

  img:first-child {
    margin-right: 2%;
  }
}

@media (max-width: 900px) {
  .image_row_2 {
    img {
    margin: 5px auto;
    width: 100%;
    }
  }
}

.image_row_3 {
  margin: 40px auto;

  img {
    margin: 20px auto;
    width: 31.55%;
    margin-right: 2%;
    box-shadow: 0px 0px 16px 4px #bcbcbc;

  }

  .no_shadow {
    box-shadow: 0px 0px 0px 0px #bcbcbc;
  }

  img:last-child {
    margin-right: 0px;
  }
}

@media (max-width: 750px) {

  .image_row_3 {
  img {
    margin: 0px auto;
    width: 100%;
  }
}
    
  }

.project_info {
  background-color: #fff;
  width: 27%;
  height: auto;
  border-radius: 10px;
  padding: 15px 30px 30px 30px;
  float: right;

  h2 {
      font-family: 'gt_walsheim_medium';
      font-size: 18px;
      text-transform: uppercase;
      color: $purple;
    }

  .service {
    margin: 25px 10px 15px 0px;

    img {
      float: left;
      border: 0;
      padding: 1px 15px 0 0;
    }

    h3 {
      font-family: 'gt_walsheim_medium';
      font-size: 15px;
      color: $textgrey;
      padding-top: 3px;
    }
  }
}

@media (max-width: 815px) {
  .project_info {
    float: none;
    width: 80%;
    margin: 0 auto;
  }

  .work_copy {
    width: 85%;
    float: none;
    margin: 50px auto;

   } 
}

@media (max-width: 430px) {
  .project_info {
    float: none;
    width: 78%;
    margin: 0 auto;
  }

  .work_copy {
    width: 95%;
    float: none;
    margin: 50px auto;
  }

  .header_type {
    padding-top: 50px;
  } 
}

  .project_selector {

    .card {
      display: inline-block;
      width: 100%;
      position: relative;
      height: 300px;

      .overlay{
        background-color: rgba(0, 180, 144, .9);
        height: 100%;
        @include transition;
        margin-top: -30px;

       &:hover{
        background-color: rgba(90, 80, 144, .8) ;
       }

       &:hover span.right {
        right: -30px;
      }

      &:hover span.left {
        left: -30px;
      }
      }
    }

    p {
      font-family: 'gt_walsheim_bold', helvetica;
      font-style: normal;
      font-size: 30px;
      text-align: center;
      color: #fff;
      padding-top: 130px;

      span.right {
        position: relative;
        right: -10px;
        @include transition;
      }

      span.left {
        position: relative;
        left: -10px;
        @include transition;
      }

    
    }

    .left_selector {
      width: 50%;
      background-color: $green;
      float: left;
      height: 100%;

    }

    .right_selector {
      width: 50%;
      background-color: $green;
      float: right;

    }
  }

   @media (max-width: 600px) {
     .project_selector {

      .card {
        .overlay{
          margin-top: -22px;
        }
      }

      p {
        font-size: 22px;
      }
    }
  }

   @media (max-width: 425px) {
     .project_selector {

      .card {
        height: 100px;

        .overlay{
          margin-top: -16px;
        &:hover{
        background-color: rgba(90, 80, 144, .8) ;
       }

       &:hover span.right {
        right: -10px;
      }

      &:hover span.left {
        left: -10px;
      }
        }
      }

      p {
        font-size: 16px;
        padding-top: 40px;

      }
    }
  }  

/*The Contact Page*/

.contact_bg {
  margin-top: 70px;
  background-repeat: none;
  background: url("images/contact_6.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


    
    h1 {
      font-family: 'gt_walsheim_medium';
      color: $purple;
      text-align: center;
      max-width: 55%;
      margin: 0 auto;
      padding: 25% 4% 4% 4%;
      font-size: 35px;
      line-height: 42px;

      a {
        color: $purple;
        border-bottom: 3px solid #fff;
        padding-bottom: 2px;
        @include transition;

      }

      & a:hover{
        color: #fff;
        }
    
  }
}
