$green: #00b490;

.hero {
  clear: both;

  h1 {
      font-family: 'gt_walsheim_medium', helvetica;
      font-weight: 500;
      font-style: normal;
      font-size: 45px;
      text-align: center;
      margin: 70px 0 70px 0;
      color: $green;
      line-height: 45px;
    }
}

.work_section { 
  text-align: center;

  .card {
    height: 200px;
    background-color: #00b490;
    border: 9px solid #fff;
    border-radius: 10px;
    margin: 15px;
    display: inline-block;
    width: 20%;
    position: relative;


    p{
      position: absolute;
      top: 50px;
      left: 42%;
      font-family: 'gt_walsheim_medium', helvetica;
      color: #fff;
      font-size: 20px;
    }

    img {
      width: 100%;
    }

  }
}
