@charset "utf-8";


body {
  background-color: #e5e5e5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

nav {
  height: 70px;
  background-color: #fff;
  width: 100%;
  
  img {
    float: left;
    margin: 15px 0 0 20px;
  }

  ul {
    list-style: none;
    float: right;
    padding: 8px;

  li {
      display: inline;
      font-family: 'gt_walsheim_bold';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 1px;
      padding-right: 30px;
      color: #3c3c3c;
    }
  }
}

footer {
  background-color: #343434;
  height: 120px;
  width: 100%;
}

