@charset "utf-8";

body {
  background-color: #e5e5e5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

a{
  text-decoration: none;
  color: #474747;
}

$green: #00b490;

nav {
  height: 70px;
  background-color: #fff;
  width: 100%;

  .logo {
    font-family: 'gt_walsheim_bold';
    font-size: 25px;
    float: left;
    margin: 14px 0 0 20px;
    color: $green;
    border: 4px solid #eaeaea;
    padding: 1px 5px 1px 5px;
    transition: background-color 0.4s ease-in-out;
  }

  a:hover .logo {
    color: #fff;
    background-color: $green;
  }
  
  img {
    float: left;
    margin: 15px 0 0 20px;
  }

  ul {
    list-style: none;
    float: right;
    padding: 8px;

  li {
      display: inline;
      font-family: 'gt_walsheim_bold';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 1px;
      padding-right: 30px;
      color: #474747;

        & :hover {
          border-bottom: 3px solid $green;
          transition: border-bottom 0.1s ease-in-out;
        }
    }
  }
}

footer {
  background-color: #343434;
  height: 120px;
  width: 100%;
}


