@charset "utf-8";

::selection      {background: rgb(255,255,158);}
::-moz-selection   {background: rgb(255,255,158);}
img::selection     {background: transparent;}
img::-moz-selection  {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

body {
  background-color: #e5e5e5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;
  color: #474747;
}

$green: #00b490;
$purple: #5a5090;


@mixin transition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#header {
  height: 70px;
  background-color: rgba(255, 255, 255, .8);
  width: 100%;
  position: fixed;
  z-index: 10;

  .logo {
    font-family: 'gt_walsheim_bold';
    font-size: 25px;
    float: left;
    margin: 14px 0 0 20px;
    color: $green;
    border: 4px solid #eaeaea;
    padding: 1px 5px 1px 5px;
    @include transition;
  }

  a:hover .logo {
        border: 4px solid $purple;
        color: $purple;

  }
  
  img {
    float: left;
    margin: 15px 0 0 20px;
  }

  ul {
    list-style: none;
    float: right;
    padding: 8px;

  li {
      display: inline;
      font-family: 'gt_walsheim_bold';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 1px;
      padding-right: 30px;
      color: #474747;

        & :hover {
          border-bottom: 3px solid $purple;
          @include transition;
        }
    }
  }
}

footer {
  background-color: #343434;
  height: 120px;
  width: 100%;
}


