---
title: Matthew D. Williams Designer / Designer / Adornia
---

<div class="work_header adornia_header">
	<div class="header_overlay">
		<div class="header_type">
			Adornia
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Trusted. Inspired. Feminine.</h1>
		<p> As a freelance member of West Elm's digital design team, I created homepage slide designs, emails, banner ads, and other digital marketing materials. The main goals I was trying to accomplish was to successfully engage users straigt from the homepage until they found the item they were shopping for. <br><span><a href ="http://westelm.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided: </h2>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Web Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/content.svg">
			<h3> Content Strategy </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/adornia/adornia_3.png">
	</div>

	<div class ="work_copy_centered">
		<h1> Front & Main </h1>
		<p class="no_headline"> One project that I worked on was creating the first Blog for West Elm. We wanted to create a blog that visually had a lot of handmade elements while showcasing different artists and products. One of the focuses was to create as much user engagement as possible by making sharing and commenting easy-to-use and user friendly. <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/adornia/adornia_2.png">
		<img src="stylesheets/images/adornia/adornia_4.png">
	</div>
</div>

<div class="project_selector">

	<a href="#">
		<div class="left_selector adornia">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Adornia
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="#">
		<div class="right_selector">
			<div class="card ecofashion">
				<div class="overlay">
					<p>Eco Fashion
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>		


