---
title: Matthew D. Williams / Designer / The After Bedtime Sessions
---

<div class="work_header afterbedtime_header">
	<div class="header_overlay">
		<div class="header_type">
			The After Bedtime Sessions
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> No tracks, no studios, just a song the way you would hear it if you were there. </h1>
		<p> A project that stemmed from a collaboration with the Nashville-based country music duo, <a href="http://matthewdwilliams.com/drewandlacey">Drew and Lacey</a>. They explain the idea on their site like this: "The After Bedtime Sessions is about putting the kids to bed, gathering in the living room, and creating music. Each session will be different: a new mix of musicians, a brand new song, an old bluegrass standard that we just rediscovered, or a 10-minute long fiddle jam. No tracks, no studios, just a song the way you would hear it if you were there." </br><span><a href ="http://urbancompass.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		<div class="service">
			<img src="stylesheets/images/ux.svg">
			<h3> Product Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/ios.svg">
			<h3> iOS Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/code.svg">
			<h3> Front-End Development </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/afterbedtime/afterbedtime_1.png">
	</div>

	<div class ="work_copy_centered">
		<h1> Designing in Browser </h1>
		<p class="no_headline"> This project was an experiment in designing solely "in browser" to see what would happen. I did all the coding, design, and branding for this project. I definitely learned that at my current skill level I missed a few things by starting right "in-browser", and I am okay with that, but I found it an interesting way to begin a design, and thinking of ways to implement from the infancy of an idea. 
 <p>
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/afterbedtime/afterbedtime_6.png">
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/afterbedtime/afterbedtime_2.png">
	</div>

	<div class="image_row_3">
		<img src="stylesheets/images/afterbedtime/afterbedtime_4.png">
		<img src="stylesheets/images/afterbedtime/afterbedtime_5.png">
		<img src="stylesheets/images/afterbedtime/afterbedtime_3.png">

	</div>

</div>




<div class="project_selector">

	<a href="#">
		<div class="left_selector adornia">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Adornia
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="#">
		<div class="right_selector">
			<div class="card ecofashion">
				<div class="overlay">
					<p>Eco Fashion
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>	


