---
title: Matthew D. Williams / Designer / Bae Rae
---

<div class="work_header baerae_header">
	<div class="header_overlay">
		<div class="header_type">
			Bae Rae
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Sophistication and femininity, while portraying a minimalist aesthetic.  </h1>
		<p> I worked as the lead designer/art director on a site update for Bae Rae, an apparel company that is focused on the women's fashion. They wanted a site that was going to be very simple and flexible, and easy to update without upsetting the design or look.</br><span><a href ="http://urbancompass.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		<div class="service">
			<img src="stylesheets/images/ux.svg">
			<h3> Product Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/baerae/baerae_1.jpg">
	</div>

	<div class ="work_copy_centered">
		<h1> The Homepage </h1>
		<p class="no_headline"> In order to focus on the product and the clothing design, we created a full screen image method that incorporated the great photography Bae Rae had on the homepage, while using white space throughout to keep things clean and orderly. The site is also responsive across all devices. <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/baerae/baerae_3.jpg">
		<img src="stylesheets/images/baerae/baerae_2.jpg">
	</div>
</div>
<div class="project_selector">

	<a href="afterbedtime.html">
		<div class="left_selector afterbedtime">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						After Bedtime
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="rockport.html">
		<div class="right_selector">
			<div class="card rockport">
				<div class="overlay">
					<p>Rockport
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>	


