---
title: Matthew D. Williams / Designer / Bae Rae
---

<div class="work_header baerae_header">
	<div class="header_overlay">
		<div class="header_type">
			Bae Rae
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Sophistication and femininity, while portraying a minimalist aesthetic.  </h1>
		<p> Bae Rae is a fashion apparel company that is focused on the womens fashion. I worked as the lead designer/art director on this project. They wanted a site that was going to be very simple, flexible, and easy to update and edit without upsetting the design on the site.</br><span><a href ="http://urbancompass.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided: </h2>

		<div class="service">
			<img src="stylesheets/images/ux.svg">
			<h3> Product Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/baerae/baerae_1.png">
	</div>

	<div class ="work_copy_centered">
		<h1> The Homepage </h1>
		<p class="no_headline"> In order to focus in on the product and the designs of the company, we created a full screen image with the great photography they had on the homepage and really tried to use white space throughout in order to keep things clean and orderly. The site is also responsive across all devices. <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/baerae/baerae_3.png">
		<img src="stylesheets/images/baerae/baerae_2.png">
	</div>
</div>
<div class="project_selector">

	<a href="#">
		<div class="left_selector adornia">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Adornia
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="#">
		<div class="right_selector">
			<div class="card ecofashion">
				<div class="overlay">
					<p>Eco Fashion
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>	


