---
title: Matthew D. Williams / Designer
---

<div class="work_header blackburn_header">
	<div class="header_overlay">
		<div class="header_type">
			Blackburn & Foster
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> A menswear brand focusing on durable products that build character over time. </h1>
		<p> Allan Glanfield is a talented fashion designer, sewer, and creator extradornaire that I helped build a site. Because he blogs a lot, and wanted to focus on this medium, it gave me my first taste of building on WordPress from scratch. Though there were a few hiccups this was a good introduction for working with databases and CMS. As always, we made sure it looked and ran nice on mobile.  </br><span><a href ="http://blackburnandfoster.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided</h2>

		<div class="service">
			<img src="stylesheets/images/ux.svg">
			<h3> Product Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/code.svg">
			<h3> Front-End Development </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/blackburn/bf_1.jpg">
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/blackburn/bf_3.jpg">
		<img src="stylesheets/images/blackburn/bf_2.jpg">
	</div>

</div>
<div class="project_selector">

	<a href="letterpress.html">
		<div class="left_selector letterpress">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Letterpress
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="adornia.html">
		<div class="right_selector">
			<div class="card adornia">
				<div class="overlay">
					<p>Adornia
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>	


