---
title: Matthew D. Williams Designer / West Elm
---

<div class="work_header drewandlacey_header">
	<div class="header_overlay">
		<div class="header_type">
			drew & lacey
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Folk & Bluegrass combined with Nashville Country </h1>
		<p> Drew and Lacey are a country music duo out of Nashville, Tennessee. And I'll be honest, they are family, and I figured they would be a perfect client to try out some of the development skills I had been learning. They wanted a super simple site that just gave them an online presence while letting people who searched for them have some point of contact. They wanted at least one song to be playable and their twitter feed to update on their homepage. <br><span><a href ="http://westelm.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided: </h2>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Web Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/content.svg">
			<h3> Content Strategy </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/content.svg">
			<h3> Letterpress / Print </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/drewandlacey/drewandlacey_1.png">
	</div>

	<div class ="work_copy_centered">
		<h1> The Website </h1>
		<p class="no_headline"> One project that I worked on was creating the first Blog for West Elm. We wanted to create a blog that visually had a lot of handmade elements while showcasing different artists and products. One of the focuses was to create as much user engagement as possible by making sharing and commenting easy-to-use and user friendly. <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/drewandlacey/drewandlacey_7.jpg">
		<img src="stylesheets/images/drewandlacey/drewandlacey_8.jpg">
	</div>

	<div class ="work_copy_centered">
		<h1> Posters </h1>
		<p class="no_headline"> One project that I worked on was creating the first Blog for West Elm. We wanted to create a blog that visually had a lot of handmade elements while showcasing different artists and products. One of the focuses was to create as much user engagement as possible by making sharing and commenting easy-to-use and user friendly. <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/drewandlacey/drewandlacey_5.jpg">
		<img src="stylesheets/images/drewandlacey/drewandlacey_6.jpg">
	</div>

	<div class ="work_copy_centered">
		<h1> Album Artwork </h1>
		<p class="no_headline"> One project that I worked on was creating the first Blog for West Elm. We wanted to create a blog that visually had a lot of handmade elements while showcasing different artists and products. One of the focuses was to create as much user engagement as possible by making sharing and commenting easy-to-use and user friendly. <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/drewandlacey/drewandlacey_3.5.jpg">
		<img src="stylesheets/images/drewandlacey/drewandlacey_3.jpg">
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/drewandlacey/drewandlacey_2.png">
	</div>

	<div class ="work_copy_centered">
		<h1> Previous Site </h1>
		<p class="no_headline"> One project that I worked on was creating the first Blog for West Elm. We wanted to create a blog that visually had a lot of handmade elements while showcasing different artists and products. One of the focuses was to create as much user engagement as possible by making sharing and commenting easy-to-use and user friendly. <p>
	</div>

</div>

<div class="project_selector">

	<a href="#">
		<div class="left_selector adornia">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Adornia
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="#">
		<div class="right_selector">
			<div class="card ecofashion">
				<div class="overlay">
					<p>Eco Fashion
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>		


