---
title: Matthew D. Williams / Designer
---

<div class="work_header drewandlacey_header">
	<div class="header_overlay">
		<div class="header_type">
			drew & lacey
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Folk and Bluegrass combined with Nashville Country </h1>
		<p> Drew and Lacey are a country music duo out of Nashville, TN. Though I may be biased — they're family, after all — I figured this would be a perfect time to try out some of my front-end development skills I'd been learning. Drew and Lacey wanted a super simple site that got them started with an online presence while letting people who searched for them have some point of contact. They wanted at least one song to be playable and their Twitter feed to update on their homepage. <br><span><a href ="http://drewandlacey.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Web Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/content.svg">
			<h3> Content Strategy </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/content.svg">
			<h3> Letterpress/Print </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/drewandlacey/drewandlacey_1.png">
	</div>

	<div class ="work_copy_centered">
		<h1> The Website </h1>
		<p class="no_headline"> Copy TK <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/drewandlacey/drewandlacey_7.jpg">
		<img src="stylesheets/images/drewandlacey/drewandlacey_8.jpg">
	</div>

	<div class ="work_copy_centered">
		<h1> Posters </h1>
		<p class="no_headline"> Copy TK <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/drewandlacey/drewandlacey_5.jpg">
		<img src="stylesheets/images/drewandlacey/drewandlacey_6.jpg">
	</div>

	<div class ="work_copy_centered">
		<h1> Album Artwork </h1>
		<p class="no_headline"> Copy TK <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/drewandlacey/drewandlacey_3.5.jpg">
		<img src="stylesheets/images/drewandlacey/drewandlacey_3.jpg">
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/drewandlacey/drewandlacey_2.png">
	</div>

	<div class ="work_copy_centered">
		<h1> Previous Site </h1>
		<p class="no_headline"> Copy TK <p>
	</div>

</div>

<div class="project_selector">

	<a href="#">
		<div class="left_selector adornia">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Adornia
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="#">
		<div class="right_selector">
			<div class="card ecofashion">
				<div class="overlay">
					<p>Eco Fashion
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>		


