---
title: Matthew D. Williams Designer / Eco Fashion
---

<div class="work_header ecofashion_header">
	<div class="header_overlay">
		<div class="header_type">
			Eco Fashion
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Telling stories of our material connection 
		to our world through cutting edge design</h1>
		<p> Sass Brown, an accomplished educator and author, was looking to create a news and resource site, Eco Fashion Talk. In this project Sass wanted an easy-to-use CMS for posting articles and adding different designers and businesses in the Eco Fashion resource, while keeping the interface focused on the content.
	 <br><span><a href ="http://www.ecofashiontalk.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		<div class="service">
			<img src="stylesheets/images/ux.svg">
			<h3> Product Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>

	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/ecofashion/ecofashion_1.png">
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/ecofashion/ecofashion_2.png">
		<img src="stylesheets/images/ecofashion/ecofashion_3.png">
	</div>

	<div class ="work_copy_centered">
		<h1> Easy to Search </h1>
		<p class="no_headline"> With the amount of information, including artists and brands, that Sass included in the Eco Fashion resource, previous versions of the site had been cluttered and difficulty to search. For the site update I helped her create a search experience that allowed users to quickly and seamlessly find content and information. <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/ecofashion/ecofashion_4.png">
		<img src="stylesheets/images/ecofashion/ecofashion_5.png">
	</div>
	
</div>

<div class="project_selector">

	<a href="urbancompass.html">
		<div class="left_selector urbancompass">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Urban Compass
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="sovisit.html">
		<div class="right_selector">
			<div class="card sovisit">
				<div class="overlay">
					<p>Sovisit
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>	


