---
title: Matthew D. Williams / Designer
---

<div class="hero_image">

<div class="hero animated fadeInDown">
  <h1>I am Matthew D. Williams, </br> a digital product designer in NYC.</h1>
</div>

<div class="work_section">
	<a href="urbancompass.html">
		<div class="card urbancompass">
			<div class="overlay">
				<p>Urban Compass</p>
			</div>
		</div>
	</a>

		<a href="ecofashion.html">
		<div class="card ecofashion">
			<div class="overlay">
				<p>Eco Fashion</p>
			</div>
		</div>
	</a>

	<a href="sovisit.html">
		<div class="card sovisit">
			<div class="overlay">
				<p>Sovisit</p>
			</div>
		</div>
	</a>

	<a href="westelm.html">
		<div class="card westelm">
			<div class="overlay">
				<p>West Elm</p>
			</div>
		</div>
	</a>

	<a href="newgoods.html">
		<div class="card newgoods">
			<div class="overlay">
				<p>NEW Goods</p>
			</div>
		</div>
	</a>

		<a href="drewandlacey.html">
		<div class="card drewandlacey">
			<div class="overlay">
				<p>Drew & Lacey</p>
			</div>
		</div>
	</a>

		<a href="afterbedtime.html">
		<div class="card afterbedtime">
			<div class="overlay">
				<p>After Bedtime</p>
			</div>
		</div>
	</a>

	<a href="baerae.html">
		<div class="card baerae">
			<div class="overlay">
				<p>Bae Rae</p>
			</div>
		</div>
	</a>

	<a href="rockport.html">
		<div class="card rockport">
			<div class="overlay">
				<p>Rockport</p>
			</div>
		</div>
	</a>

	<a href="letterpress.html">
		<div class="card letterpress">
			<div class="overlay">
				<p>Letterpress Work</p>
			</div>
		</div>
	</a>

	<a href="blackburnandfoster.html">
		<div class="card blackburn">
			<div class="overlay">
				<p>Blackburn and Foster</p>
			</div>
		</div>
	</a>

	<a href="adornia.html">
		<div class="card adornia">
			<div class="overlay">
				<p>Adornia</p>
			</div>
		</div>
	</a>
<div>
</div>
