---
title: Matthew D. Williams Designer / Letterpress
---

<div class="work_header letterpress_header">
	<div class="header_overlay">
		<div class="header_type">
			Letterpress Work
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Woodtype to real type</h1>
			<p> One of my first jobs in design was with Hemmert Studio in Madison, NJ. Their specialty is letterpress printing, and I had the opportunity to learn under the creative director, Curtis Hemmert. Some of these projects were designed and printed while working there, and others are from times I was invited back to use the press. </p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		<div class="service">
			<img src="stylesheets/images/print.svg">
			<h3> Letterpress </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_1.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_10.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_8.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_3.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_9.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_4.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_6.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_7.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_2.jpg">
	</div>
</div>

<div class="project_selector">

	<a href="rockport.html">
		<div class="left_selector rockport">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Rockport
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="blackburnandfoster.html">
		<div class="right_selector">
			<div class="card blackburn">
				<div class="overlay">
					<p>Blackburn
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>		


