---
title: Matthew D. Williams Designer / West Elm
---

<div class="work_header letterpress_header">
	<div class="header_overlay">
		<div class="header_type">
			Letterpress Work
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Woodtype to fun lorem</h1>
		<p> One of my first jobs in design was with Hemmert Studio in Madison, New Jersey. One their specialties is letterpress printing and I had the opportunity to learn under the creative director, Curtis Hemmert. Some of these projects were designed and printed while working there, and others are when they invited me back to let me use the press. 
		</br>
		Some of the projects here were personal projects and some more client-based. I always enjoyed using and setting the wood type the most.<p>
	</div>

	<div class="project_info">

		<h2> Services Provided: </h2>

		<div class="service">
			<img src="stylesheets/images/print.svg">
			<h3> Letterpress </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_1.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_10.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_8.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_3.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_9.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_4.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_6.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_7.jpg">
	</div>

	<div class="image_row_1">
		<img class="no_shadow" src="stylesheets/images/letterpress/letterpress_2.jpg">
	</div>
</div>

<div class="project_selector">

	<a href="#">
		<div class="left_selector adornia">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Adornia
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="#">
		<div class="right_selector">
			<div class="card ecofashion">
				<div class="overlay">
					<p>Eco Fashion
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>		


