---
title: Matthew D. Williams Designer / NEW Goods
---

<div class="work_header newgoods_header">
	<div class="header_overlay">
		<div class="header_type">
			NEW Goods
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Good Goods</h1>
		<p> A fun ongoing project that is still evolving is one with my wife, Nicole. She is an amazing sewer and maker, and I decided it was time to give her an outlet to start selling her goods. We wanted to create a site focused on just the product, with clean design and none out the clutter that shopping sites usually have. <br><span><a href ="http://newgoodsaregood.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		
		<div class="service">
			<img src="stylesheets/images/code.svg">
			<h3> Front-End Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Web Design </h3>
		</div>
		
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/newgoods/newgoods_1.png">
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/newgoods/newgoods_2.png">
		<img src="stylesheets/images/newgoods/newgoods_3.png">
	</div>

</div>

<div class="project_selector">

	<a href="westelm.html">
		<div class="left_selector westelm">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						West Elm
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="drewandlacey.html">
		<div class="right_selector">
			<div class="card drewandlacey">
				<div class="overlay">
					<p>Drew & Lacey
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>		


