---
title: Matthew D. Williams Designer / Rockport Shoes
---

<div class="work_header rockport_header">
	<div class="header_overlay">
		<div class="header_type">
			Rockport
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Comfortable Dress Shoes, Casual Shoes, and Boots</h1>
		<p> While working at SM&KK Studios, I was the lead designer for one our international clients, Rockport. I was in charge of homepage marketing slides, UI updates to the site, email campaigns, and banner ads, and worked very closely with the Rockport team.<br><span><a href ="http://www.rockport.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Web Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/content.svg">
			<h3> Content Strategy </h3>
		</div>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/rockport/rockport_2.gif">
	</div>

	<div class ="work_copy_centered">
		<h1> Campaigns and Holidays </h1>
		<p class="no_headline"> One of the big focuses for any e-commerce team is the holidays, which was no exception for Rockport. I created material for their Black Friday and Cyber Monday sales, along with their annual campaign leading up to Christmas. <p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/rockport/rockport.jpg">
		<img src="stylesheets/images/rockport/rockport_3.jpg">
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/rockport/rockport_4.gif">
		<img src="stylesheets/images/rockport/rockport_5.jpg">
	</div>

	<div class="image_row_3">
		<img src="stylesheets/images/rockport/rockport_6.jpg">
		<img src="stylesheets/images/rockport/rockport_7.jpg">
		<img src="stylesheets/images/rockport/rockport_8.jpg">
	</div>
</div>

<div class="project_selector">

	<a href="baerae.html">
		<div class="left_selector baerae">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Bae Rae
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="letterpress.html">
		<div class="right_selector">
			<div class="card letterpress">
				<div class="overlay">
					<p>Letterpress
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>		


