---
title: Matthew D. Williams Designer / Sovisit
---
x
<div class="work_header sovisit_header">
	<div class="header_overlay">
		<div class="header_type">
			Sovisit
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Show the world what your neighborhood has to offer</h1>
		<p> A while back, my wife, Nicole, and I were chatting about the lack of online resource for our then-neighborhood of East Harlem. Everything we could find on the neighborhood was either extremely outdated or hard to use. We decided to build our own little platform to host small community sites, or to refer people to when they were looking for restaurants, apartments or even the history of a certain neighborhood.<br><span><a href ="http://sovist.us/in/eastharlem">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		<div class="service">
			<img src="stylesheets/images/ux.svg">
			<h3> Product Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/code.svg">
			<h3> Frontend Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/content.svg">
			<h3> Content Strategy </h3>
		</div>

	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/sovisit/sovisit_1.jpg">
		<img src="stylesheets/images/sovisit/sovisit_2.jpg">
	</div>

	<div class ="work_copy_centered">
		<h1> Sovisit: East Harlem</h1>
		<p class="no_headline"> 
			The first neighborhood that we built under Sovisit was East Harlem, where we lived at the time. We really felt that it was an underated neighborhood with an amazing history that wasn't as much press or time as it's neighbors, Central and West Harlem. It also gave us a chance to talk to our neighbors and local business owners. Meeting them and photographing their businesses was one of my favorite parts of the project, and getting to know the people behind the "digital" side of the product made it that much more fulfilling when we started seeing them share their photos and pages with friends.
		<p>
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/sovisit/sovisit_5.jpg">
	</div>

	<div class ="work_copy_centered">
		<h1> Husband & Wife Time</h1>
		<p class="no_headline"> 
		As it was just Nicole and me, I did all of the branding, design and development, while she handled most of the copywriting and photography. The site was create from scratch, using just plain ol' HTML, CSS and JS, and was responsive to work across all devices. 
		<p>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/sovisit/sovisit_4.jpg">
		<img src="stylesheets/images/sovisit/sovisit_6.jpg">
	</div>
</div>

<div class="project_selector">

	<a href="ecofashion.html">
		<div class="left_selector ecofashion">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Eco Fashion
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="westelm.html">
		<div class="right_selector">
			<div class="card westelm">
				<div class="overlay">
					<p>West Elm
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>	


