---
title: Urban Compass
---

<div class="work_header uc_header">
	<div class="header_overlay">
		<div class="header_type">
			Urban Compass
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Everything you need to find a home you love </h1>
		<p> Urban Compass is a full end-to-end service for helping people find a home they love. The company was founded in late 2012 and I joined the team as the first full-time product designer in the beginning of 2013, about 4 months before the public launch of the company. I began concepting the product and creating wireframes with our head of product as we flushed out the problems we were trying to solve and how we were going to approach the very complex and political real estate space in New York. Over the next year we tested and iterated our original ideas as the company began to evolve based on our research and conclusions. By September 2013 we receieved our series A funding and we were valued at $150 million dollars. <p>
	</div>

	<div class="project_info">
		
		<h2> Services Provided: </h2>

		<div class="service">
			<img src="stylesheets/images/ux.svg">
			<h3> Product Development </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/ios.svg">
			<h3> iOS Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/code.svg">
			<h3> Frontend Development </h3>
		</div>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/urbancompass/uc_hp_1.jpg">
		<img src="stylesheets/images/urbancompass/uc_hp_1.jpg">
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/urbancompass/uc_hp_1.jpg">
	</div>

	<div class ="work_copy_centered">
		<p class="no_headline"> One project that was constantly evolving was our homepage. As we changed features and adjusted our positioning we had to keep the messaging clear and the user flow simple and to the point. The balance of a new user understanding the product and also getting them to sign up and begin using the product was always the main goal. Above are a few of the iterations of the homepages. <p>
	</div>
</div>

	<div class="image_row_full">
		<img src="stylesheets/images/urbancompass/uc_header.jpg">
	</div>

<div class="container">

	<div class="image_row_3">
		<img src="stylesheets/images/urbancompass/uc_hp_1.jpg">
		<img src="stylesheets/images/urbancompass/uc_hp_1.jpg">
		<img src="stylesheets/images/urbancompass/uc_hp_1.jpg">
	</div>
</div>

	<div class="work_section project_page">
		<a href="urbancompass.html">
			<div class="card urbancompass">
				<div class="overlay">
					<p>Urban Compass</p>
				</div>
			</div>
		</a>

			<a href="#">
			<div class="card ecofashion">
				<div class="overlay">
					<p>Eco Fashion</p>
				</div>
			</div>
		</a>

			<a href="#">
			<div class="card sovisit">
				<div class="overlay">
					<p>Sovisit</p>
				</div>
			</div>
		</a>

		<a href="#">
			<div class="card getoutskiing">
				<div class="overlay">
					<p>Get Out Skiing</p>
				</div>
			</div>
		</a>

			<a href="#">
			<div class="card drewandlacey">
				<div class="overlay">
					<p>Drew & Lacey</p>
				</div>
			</div>
		</a>

			<a href="#">
			<div class="card afterbedtime">
				<div class="overlay">
					<p>After Bedtime</p>
				</div>
			</div>
		</a>

		<a href="#">
			<div class="card baerae">
				<div class="overlay">
					<p>Bae Rae</p>
				</div>
			</div>
		</a>

			<a href="#">
			<div class="card westelm">
				<div class="overlay">
					<p>West Elm</p>
				</div>
			</div>
		</a>

		<a href="#">
			<div class="card rockport">
				<div class="overlay">
					<p>Rockport</p>
				</div>
			</div>
		</a>

		<a href="#">
			<div class="card letterpress">
				<div class="overlay">
					<p>Letterpress Work</p>
				</div>
			</div>
		</a>

		<a href="#">
			<div class="card urbancompass">
				<div class="overlay">
					<p>Blackburn and Foster</p>
				</div>
			</div>
		</a>

		<a href="#">
			<div class="card adornia">
				<div class="overlay">
					<p>Adornia</p>
				</div>
			</div>
		</a>
	<div>


