---
title: Matthew D. Williams Designer / West Elm
---

<div class="work_header westelm_header">
	<div class="header_overlay">
		<div class="header_type">
			West Elm
		</div>
	</div>
</div>

<div class="container">

	<div class ="work_copy">
		<h1> Modern Furniture, Home Decor and Accessories </h1>
		<p> As a freelance member of West Elm's digital design team, I created homepage slide designs, emails, banner ads, and other digital marketing materials. The main goals was to successfully engage users from the homepage until they found the item they were shopping for. <br><span><a href ="http://westelm.com">Launch the Site <span>&#8594;</span></a> </span><p>
	</div>

	<div class="project_info">

		<h2> Services Provided </h2>

		<div class="service">
			<img src="stylesheets/images/branding.svg">
			<h3> Branding </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/computer.svg">
			<h3> Visual Web Design </h3>
		</div>

		<div class="service">
			<img src="stylesheets/images/content.svg">
			<h3> Content Strategy </h3>
		</div>
	</div>

	<div class="image_row_2">
		<img src="stylesheets/images/westelm/westelm_1.jpg">
		<img src="stylesheets/images/westelm/westelm_2.jpg">
	</div>

	<div class="image_row_1">
		<img src="stylesheets/images/westelm/westelm_3.jpg">
	</div>

	<div class ="work_copy_centered">
		<h1> Front & Main </h1>
		<p class="no_headline"> Creating the first blog for West Elm was one of the biggest projects I handled on the site. I wanted to create a platform and look that visually had handmade elements, but showcased different artists and products. One of the focuses was to create as much user engagement as possible by making sharing and commenting easy to use and user friendly. <p>
	</div>

	<div class="image_row_3">
		<img src="stylesheets/images/westelm/westelm_4.png">
		<img src="stylesheets/images/westelm/westelm_5.png">
		<img src="stylesheets/images/westelm/westelm_6.png">
	</div>
</div>

<div class="project_selector">

	<a href="sovisit.html">
		<div class="left_selector sovisit">
			<div class="card">
				<div class="overlay">
					<p>
						<span class="left">&#8592;</span>
						Sovisit
					</p>
				</div>
			</div>
		</div>
	</a>

	<a href="newgoods.html">
		<div class="right_selector">
			<div class="card newgoods">
				<div class="overlay">
					<p>NEW Goods
						<span class="right">&#8594;</span>
					</p>
				</div>
			</div>
		</div>
	</a>
</div>		


